---
layout: cv
permalink: /cv/
title: CV
---

<section class="container">

<h1><a href="{{ absolute_url }}/">Boyu Li</a></h1>

<small class="live-link">Last updated in <time datetime="{{ site.time }}">{{ site.time | date: '%B %Y'}}</time>. Get the latest version at <a href="{{ '/cv' | absolute_url }}">www.domoritz.de/cv</a>.</small>

<div class="header-columns">
  <div>
    <p>
      Undergraduate Student at XJTU<br/>
    </p>
  </div>
  <div>
    <p class="right-align">
      <a href="{{ absolute_url }}/">https://newsun-boki.github.io/liboyu/</a><br/>
      <a href="mailto:domoritz@cmu.edu">boyuli2001@foxmail.com</a><br/>
      <a href="https://twitter.com/domoritz">@domoritz</a>
    </p>
  </div>
</div>




<h2>Education</h2>

{% for ed in site.data.education %}
<article>
  <div class="date-container">
    <span class="date">{{ ed.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ ed.degree }}, {{ ed.university }}</strong>
    <span class="right">{{ ed.location }}</span>
  </div>
  <p>
    {% for des in ed.description %}
      <span>{{ des | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
    {% endfor %}
  </p>
</article>
{% endfor %}


<h2>Awards</h2>

{% for award in site.data.awards %}
<article>
  <div class="date-container">
    <span class="date">{{ award.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ award.name }}</strong>
    <span class="right">{{ award.sponsor }}</span>
  </div>
  <p class="muted">
    {{ award.description }}
  </p>
</article>
{% endfor %}


<!-- <h2>Relevant Coursework</h2>

{% for institution in site.data.courses %}
<article>
  <h3>{{ institution.title }}</h3>
  <div>
    <ul>
      {% for course in institution.courses %}<li>{{ course.title }}{% if course.with %}<span class="muted"> ({% include person person=course.with %})</span>{% endif %}</li>{% endfor %}
    </ul>
  </div>
</article>
{% endfor %} -->


<h2>Skills</h2>

<div class="skills">
  <p>
    <strong><b>Language</strong><br/>
    C,C++,Python,Shell,Latex,HTML
  
  </p>

  <p>
    <strong><b>Framework</strong><br/>
    Opencv, ROS, Pytorch
  
  </p>

  <p>
    <strong><b>Tools</strong><br/>
    Git, Docker, Anaconda, Keil5, Unity, Blender
  
  </p>
</div>

</section>
